.navbar {
    background-color: #dbe9b72d;
    display: flex;
    justify-content: space-evenly;
    padding: 0.25rem 7rem;
    &__link {
        color: black;
        text-decoration: none;

        &:hover {
            color: rgb(168, 190, 168);
            text-decoration: underline;
        }
    }
}